@import "tailwindcss";

/* TODO: i want proper colour names, e.g. primary, secondary etc*/

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-navy: #1b3a5c;
  --color-navy2: #2c5282;
  --color-red: #a93226;
  --color-amber: #a07000;
  --color-green: #1e6b3c;
  --color-mid: #444444;
  --color-lgray: #aaaaaa;
  --color-mob-blue: #1a7fc4;
  --color-brand-red: #6b1212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7fa;
  user-select: none;
}

input,
select,
textarea {
  font-size: 1rem;
  user-select: text;
}
